.cartList {
  list-style: none;
}

.orderBtn {
  text-align: center;
  width: 60%;
  height: 40px;
  border-radius: 4px;
  border-color: tomato;
  box-shadow: none;
  background-color: tomato;
  color: white;
}
